GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
GOOGLE_CHAT_MODEL='gemini-2.5-flash-lite'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=pdf_documents
PDF_PATH=document.pdf